/**{*/
    /*border:1px solid black;*/
/*}*/
html{
    /* Setting for root em (rem) */
    font-size:16px;

}
body{

}
.left-main-col, .right-main-col{
    /*height: 50rem;*/
}
.left-main-col{
    background-color:#2E2E2E;
}


/*-------------- Fitting to Parent -------------*/
html, body, .master-container, .master-row, .menu-side{
    position:absolute !important;
    top:0;
    right:0;
    left:0;
    bottom:0;
}

/*-------------- subviews/side-bar -------------*/
.menu{
    position:relative !important;
    color:red;

}