/**{*/
    /*border:1px solid red;*/
/*}*/
html{
    /* Setting for root em (rem) */
    font-size:16px;

}
body{
    background-color:#C7C7C7;
}
.left-main-col{
    background-color:#1F1F1F;
}
.right-main-col{
    float:right;
}
.artist-name-container{
    margin:1rem;
    padding-left:2rem;
}
.artist-name{
    font-size:4rem;
}
.content{
    padding:1rem;
}

/*-------------- Fitting to Parent -------------*/
html, body, .master-container, .master-row, .menu-side, .menu-dark-strip{
    position:absolute !important;
    top:0;
    right:0;
    left:0;
    bottom:0;
}



/*-------------- subviews/menu -------------*/
.menu{
    position:relative !important;
    color:white;
    padding-top:2rem;
    padding-bottom:2rem;
}
.menu-items{
    padding:0;
    padding-left:1rem;
    margin:0;
}
.menu-item{
    font-size:2rem;
    line-height:2rem;
    list-style-type:none;
    padding:.75rem;

}
.menu-item:hover, .ami{
    background-color:#3D3D3D;
}
.menu-item:last-child{
    margin-bottom:0;
}

.menu-item .glyphicon{
    float:right;
}

/*-------------- Global Misc -------------*/
.well{
    background-color:#D6D6D6 !important;
}
.item-title{
    text-align:center;
    overflow:auto;
    margin-top:.5rem;
    margin-bottom:0;
}
.item-container{
    background-color:white;
    padding:.5rem;
    box-shadow: .35rem .35rem #A9A9A9;
}
.item-container:hover{
    box-shadow: .15rem .15rem #A9A9A9;
}
.feature-container{
    max-width: 90%;
    display:inline-block;
    margin:0 auto;
}
.feature-container-container{
    text-align:center
}
.spacer3rem{
    height:3rem;
}

.tal{
    text-align:left;
}
.tac{
    text-align:center;
}
.tar{
    text-align:right;
}
