/**{*/
    /*border:1px solid white;*/
/*}*/
html{
    /* Setting for root em (rem) */
    font-size:16px;

}
body{

}
.left-main-col{
    background-color:#1F1F1F;
}
.right-main-col{
    float:right;
}


/*-------------- Fitting to Parent -------------*/
html, body, .master-container, .master-row, .menu-side, .menu-dark-strip{
    position:absolute !important;
    top:0;
    right:0;
    left:0;
    bottom:0;
}



/*-------------- subviews/menu -------------*/
.menu{
    position:relative !important;
    color:white;
    padding-top:2rem;
    padding-bottom:2rem;
}
.menu-items{
    padding:0;
    padding-left:1rem;
    margin:0;
}
.menu-item{
    font-size:2rem;
    line-height:2rem;
    list-style-type:none;
    padding:.75rem;

}
.menu-item:hover, .ami{
    background-color:#3D3D3D;
}
.menu-item:last-child{
    margin-bottom:0;
}

.menu-item .glyphicon{
    float:right;
}


/*-------------- subviews/content -------------*/
.artist-name-container{
    padding:1rem;
}
.artist-name{
    font-size:4rem;
}